<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.orangehrm.testcases.LoginTest"/>
      <!-- class name="com.orangehrm.pages.BaseClass"/>
      <!class name="com.orangehrm.testcases.LoginNFW"/>
      <!class name="com.orangehrm.utility.BrowserFactory"/-->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
